/* -- slider -- */

.slider-area { width:80%; position:relative; margin:0 auto; padding:5px;}
/*-------------------------
[9. Block slider]
---------------------------*/
.block-slider{
	border:none;
	width: 100%;
}
.block-slider ul li{
	list-style: none;
}
.block-slider .bx-pager{
	display: none;
}
.block-slider .bx-prev,
.block-slider .bx-next{
	width: 32px;
	height: 32px;
	border: 1px solid #eaeaea;
	text-align: center;
	display: block;
	border-radius: 50%;
	font-size: 30px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 29px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.block-slider img{
	width: 100%;
	height: auto;
}
.block-slider .bx-prev{
    background: #2be2d3;
	color: #000;
	border-color: #e2e4e7;
    left: 0px;
	padding-right: 3px;
}
.block-slider .bx-next{
    background: #2be2d3;
	color: #000;
	border-color: #e2e4e7;
	right: 0px;
	padding-left: 3px;
}
.block-slider:hover .bx-prev{
	left: 10px;
}
.block-slider:hover .bx-next{
	right: 10px;
}
.block-slider .bx-prev:hover,
.block-slider .bx-next:hover{
	background: #5a88ca;
	color: #fff;
	border-color: #5a88ca;
}

/*------------------
[4. Slidershow]
------------------*/

.block-slider .bx-pager{
	display: block;
    text-align: center;
}
.block-slider .bx-pager-item{
	width: 15px;
	height: 15px;
	background: #fff;
	font-size: 0;
	display: inline-block;
	border-radius: 50%;
	margin: 0 3px;
}
.block-slider .bx-pager-item a{
	width: 100%;
	height: 100%;
	background: #999;
	display: block;
	border-radius: 50%;
}
.block-slider .bx-pager-item a.active{
	background: #1bd172;
}
.block-slider .caption-group{
	position: absolute;
    top: 26%;
    right: 16%;
}
.block-slider .caption-group .title{
	margin: 0;
}
.block-slider .caption-group .subtitle{
	margin: 0;
	margin-top: 5px;
}
.block-slider .caption-group .button-radius{
	margin-top: 27px;
}
.block-slider .caption-group .primary{
	color: #1bd172;
}
.block-slider .caption-group .caption{

}

/*----------------------
[10. Block top seller ]
------------------------*/
.button-radius{
  position: relative;
  border: 1px solid #eaeaea;
  padding: 1px;
  min-height: 34px;
  background: #fff;
  display: inline-block;
  width: auto;
  line-height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  margin: 0;
  color: #666666;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 10px;
  font-size: 14px;
}

.button-radius .icon:before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f07a";
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #5a88ca;
    border-radius: 90%;
    text-align: center;
    line-height: 26px;
    float: left;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

.button-radius .icon{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  left: 2%;
  top: 2px;
  overflow: hidden;
}



.button-radius.white{
  border-color: #fff;
  color: #fff;
  background: transparent;
}
.button-radius.white .icon:before{
  background: #fff;
  color: #333;
}

.button-radius:hover .icon{
  left: 100%;
  margin-left: -30px;
}
.button-radius:hover{
  padding-left: 20px;
  padding-right: 40px;
}

/* -- //slider -- */

#flexiselDemo2 {
    margin: 3em 0 0;
}

/*-- flexisel --*/

.flex-slider {
    background: #222227;
    padding: 70px 0 165px 0;
}

.opportunity {
    background: #28282e;
    margin: 0px 20px;
    padding: 80px 0;
    position: relative;
}

#flexiselDemo1,
#flexiselDemo2 {
    display: none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0px auto;
}

.nbs-flexisel-item {
    float: left;
    margin: 0;
    padding: 0 15px;
    position: relative;
}

.nbs-flexisel-item>img {
    cursor: pointer;
    position: relative;
}

/*---- Nav ---*/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
}

.nbs-flexisel-nav-left {
    left: -5%;
    top: 38% !important;
    background: url(../../static/img/left-arrow.png) no-repeat 0px 0px;
}

.nbs-flexisel-nav-right {
    right: -5%;
    top: 38% !important;
    background: url(../../static/img/right-arrow.png) no-repeat 0px 0px;
}

.product-f-image {
    position: relative;
}

.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}

.product-hover:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: -100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .4s;
}

.product-hover a {
    background: none repeat scroll 0 0 #5a88ca;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #5a88ca;
    width: 80%;
    z-index: 99;
    transition: .4s;
}

.product-hover a:hover {
    background: #000;
    text-decoration: none;
    border-color: #444;
}

.product-hover a i.fa {
    margin-right: 5px;
}

.product-hover a.add-to-cart-link {
    top: -25%;
}

.product-hover a.view-details-link {
    bottom: -100%;
}

.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.single-product h2 a {
    color: #222;
}

.single-product p {
    color: black;
    font-weight: 700;
}

.single-product {
    overflow: hidden;
}

.single-product:hover {}

.single-product:hover .product-hover a.add-to-cart-link {
    top: 32%;
}

.single-product:hover .product-hover a.view-details-link {
    bottom: 32%;
}

.single-product:hover .product-hover:after {
    left: 0
}

/*-- //flexisel --*/

/* -- productseperate -- */

.show-products {
    background-color: #ffffffa6;
    margin-bottom: 15px;
    width: 100%;
}

.show-products-pd {
    padding: 10px 30px;
}

/* -- //productseperate -- */

/* -- product-wid -- */

.product-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
}

.single-wid-product {
    margin-bottom: 31px;
    overflow: hidden;
}

.product-thumb {
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 100px;
}

.single-wid-product h2 {
    font-size: 14px;
    margin-bottom: 12px;
}

.product-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}

.product-wid-price ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.single-wid-product h2 a {
    color: #222;
}

.single-wid-product h2 a:hover,
.single-product h2 a:hover {
    color: #5a88ca;
}

.wid-view-more {
    background: none repeat scroll 0 0 #5a88ca;
    color: #fff;
    padding: 3px 15px;
    position: absolute;
    right: 10px;
    top: 3px;
}

.wid-view-more:hover {
    color: #fff;
    background-color: #222;
    text-decoration: none
}

.single-product-widget {
    position: relative;
}
.product-widget-area {
  padding-bottom: 30px;
  padding-top: 30px;
}
.product-widget-area .zigzag-bottom{background: #f4f4f4;}

/* -- //product-wid -- */