{% extends "base.html" %}
{% load crispy_forms_tags %}
<script>
    {% block jquery %}
    $(".select").change(function () {
        $("#submit").click();
    })
    {% endblock %}
</script>
{% block content %}
{% if filter_form %}
<div class='col-sm-2'>
    <form method="GET" action="">
        {{ filter_form|crispy }}
        <!-- <input type='hidden' name='q' value='{{ request.GET.q }}' /> -->
        <input type='submit' value='Apply Filter' class='btn btn-default'>

    </form>

    <a href=".">Clear Filters</a>
</div>
{% endif %}
<div class='col-sm-10'>
    <div class="row">
        <div class="col-sm-10">
            <h2>{{ object }}</h2>
        </div>
        {% if filter_form %}
        <div class="col-sm-2">
            <form action="" method="get">
                <div class="form-group">
                    <select name="sort" id="" style="float: right;margin-top: 11px;" class="select form-control">
                        <option value="">Sort</option>
                        <option value="-variation__sold_bill">Popular</option>
                        <option value="variation__sold_bill">Least Popular</option>
                        <option value="-id">Latest</option>
                        <option value="id">Oldest</option>
                    </select>
                </div>
                <button type="submit" style="display:none;" id="submit"></button>
            </form>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="clearfix"></div>
    <!-- {% for product in object_list %}
    <div class='col-xs-4'>
        {% include "products/product_thumbnail.html" with product=product price="True" %}
    </div>
    {% cycle '' '' '</div><div class="row">' %}
    {% endfor %} -->
    <!-- {% include "products/products.html" with object_list=object_list row="row" col_class_set_xs="col-xs-6" col_class_set="col-sm-4" col_class_set_2="col-md-3" %} -->
    {% for product in object_list %}
    <div class='col-xs-6 col-sm-4 col-md-3'>
        <div class="thumbnail text-center" style="">
            {% if product.get_image_url %}
            <a href='{{ product.get_absolute_url }}'><img id='img-1' class='img-responsive' src='{{ product.get_image_url }}' /></a>
            {% endif %}
            <br>
            <h4><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a></h4>
            {% if product.review_set.first.average_ratings %}<p style="font-size: 15px;">{{ product.review_set.first.average_ratings }}&nbsp;<i class="fas fa-star" style="color: gold;"></i></p>{% endif %}
            {{ product.variation_set.first.get_html_price }}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}