<div class="thumbnail text-center"{% if style %} style="{{ style }}"{% endif %}>
    <h4><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a></h4>
    {% if product.get_image_url %}
    <a href='{{ product.get_absolute_url }}'><img id='img-1' class='img-responsive' src='{{ product.get_image_url }}' /></a>
    {% endif %}
    <br>
    {% if product.review_set.first.average_ratings %}<p style="font-size: 15px;">{{ product.review_set.first.average_ratings }}&nbsp;<i class="fas fa-star" style="color: gold;"></i></p>{% endif %}
    {% if price == "True" %}
    {{ product.variation_set.first.get_html_price }}
    {% endif %}
</div>